<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note app</title>
    <link rel="stylesheet" href="<%= '/styles/index.css' %>">
</head>
<body>
    <div class="conteiner">
        <div>
            <img class="logo" src="/images/—Pngtree—white pencil icon_4615111.png">
        </div>
        <div class="title-cont">
            <h1 class="text">Welcome to NoteApp</h1>  
        </div>
        <div class="btn-cont">
            <a class="btn" href="/login"> LOGIN </a>
            <a class="btn" href="/register"> REGISTER </a>
        </div>
    </div>
</body>
</html>