<form action="/home/<%= user %>/createNote" method="post">
    <INPUT type="text" name="Title" placeholder="Insert note title">
    <input type="text" name="Description" placeholder="insert note Description">
    <button type="submit">
        Create Note
    </button>
</form>